ini adalah sesi pertama kelas intro to phyton for data science

1+2

In [5]:
2+3

5

In [6]:
30+10

40

In [7]:
print("hello")

hello

# integers

In [10]:
print(10, type(10))
print(100, type(100))
print(-10, type(-10))

10 <class 'int'>
100 <class 'int'>
-10 <class 'int'>

# float

In [11]:
print(3.14, type(3.14))
print(10.09, type(10.09))
print(-0.01,type(-0.01))

3.14 <class 'float'>
10.09 <class 'float'>
-0.01 <class 'float'>

In [12]:
type(10.0)

float

# complex

In [13]:
complex(1,10)

(1+10j)

# string

In [14]:
print("hacktiv8", type("hacktiv8"))

hacktiv8 <class 'str'>

In [15]:
"ini string", 'ini juga string',"""ini juga string""

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-15-cc2c893d2b1d>, line 1)

# string manipulation

In [16]:
"ini string", 'ini juga string',"""ini juga string"""

('ini string', 'ini juga string', 'ini juga string')

In [43]:
bank_name = "mandiri"
status = "bank"
print(status + " " + bank_name)
batch = " 45"
print(bank_name + batch)
print(bank_name + str(45))
print((bank_name + " ") * 5 + batch)

bank mandiri
mandiri 45
mandiri45
mandiri mandiri mandiri mandiri mandiri  45

In [45]:
bank_name = "bank mandiri"
print("bank" in bank_name)
print("mandiri" in bank_name)
print("hacktiv8" in bank_name)
print(" " in bank_name)

True
True
False
True

In [46]:
bank_name.capitalize()

'Bank mandiri'

In [49]:
bank_name[0:4]
bank_name[-1]

'i'

In [50]:
len(bank_name)

12

In [51]:
bank_name[-7:-1]

'mandir'

In [55]:
user_id = "jkt_2020.11.11-012380"
print(user_id[2:-7])

t_2020.11.11

In [57]:
re.search(r"\w+", user_id)

NameError: name 're' is not defined

In [58]:
re.sub(r"jkt_")

NameError: name 're' is not defined

In [20]:
print(""""ini baris pertama
       baris kedua
       lanjut...
       selesai""")

"ini baris pertama
       baris kedua
       lanjut...
       selesai

# boolean

In [21]:
print(False, type(False),True, type(False))

False <class 'bool'> True <class 'bool'>

In [22]:
print(bool(0), bool(1))

False True

In [23]:
print(bool(11),bool(-11),bool(.01),bool(0))

True True True False

In [24]:
print(bool("hacktiv8"),bool(""))

True False

In [59]:
print(bool("hacktiv8"), bool(""))   #better
print(
    bool("hacktiv8"),
    bool("")
)

True False
True False

In [60]:
my_string = """
this is multiline
with triple double quotes
"""
print(my_string)

this is multiline
with triple double quotes

In [61]:
my_string = (
    "this is a line"
    "with single double quotes"
)
print(my_string)

this is a linewith single double quotes

In [63]:
import datetime

In [64]:
datetime.datetime.now().strftime("%Y-%m-%dT%H:%M:%Sz")

'2020-11-19T22:00:17z'

# Variable

javascript ->camelCase -> e.g. namaVariabel, numVariabel, countSuccess
phyton -> snake_case -> e.g. nama_variabel, num_variable

In [25]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [27]:
nama_variabel = 100  #pythonic way
print("nilaivariabel:", nama_variabel)

nilaivariabel: 100

In [30]:
height = 640
width = 640
print(height, width)

640 640

In [29]:
height = width = axis = 64
print(height, width, axis)

64 64 64

In [32]:
name_title = "Hacktiv8"
name_lower = "hacktiv8"
name_title == name_lower

False

In [34]:
_nama_ketua="hacktiv"
print(_nama_ketua)

hacktiv

In [35]:
AGE = 20
print(AGE)

AGE += 1
print(AGE)

20
21

In [ ]:
print, complex, str #function

In [36]:
name_lower.upper(), name_title.lower()  #mengubah jadi lowercase atau uppercase

('HACKTIV8', 'hacktiv8')

# Mathematical Operations

In [3]:
a = 10
b = 20
c = 30
print(a, b, c)

10 20 30

In [39]:
print(a+b)
print(a+(b+c),a+b*c)
print (a / b, a // b, 10 /4, 10 //4)

30
60 610
0.5 0 2.5 2

In [40]:
print(a ** 2)
print(b % 3) #modulo

100
2

# Comparison Operator

In [4]:
print (a==b, a <= b, a >= b, a !=b )

False True False True

# List

In [5]:
int_list = [1, 2, 3]
print(int_list)
str_list = ["phyton","intro"]
print(str_list)
mixed_list = [1, 1.1, "intro", True]
print(mixed_list)
empty_list = []
print(empty_list)
abc_list = list("abc")
print(abc_list)

[1, 2, 3]
['phyton', 'intro']
[1, 1.1, 'intro', True]
[]
['a', 'b', 'c']

In [6]:
print(mixed_list[0],mixed_list[-len(mixed_list)]) #indexing
print(abc_list[0:2],abc_list[-len(abc_list):2-len(abc_list)]) #slicing

1 1
['a', 'b'] ['a', 'b']

In [7]:
print(int_list)  #[3,2,1]?
print(int_list)

[1, 2, 3]
[1, 2, 3]

In [11]:
print(mixed_list)
mixed_list.append('python')
print(mixed_list)

[1, 1.1, 'intro', True]
[1, 1.1, 'intro', True, 'python']

In [ ]:
#credits ="transaksi kredit"
#row_1 = [col1, col2, col3, ...] bisa dipake data, diubah bentuk list, bisa pake pandas

# tuples
immutable   - tidak bisa diubah

In [12]:
coord = (110, 0.98)
print(coord, type(coord))
tuple_from_list = tuple(mixed_list)
print(tuple_from_list, type(tuple_from_list))

(110, 0.98) <class 'tuple'>
(1, 1.1, 'intro', True, 'python') <class 'tuple'>

In [13]:
print(coord[::-1])
print(tuple_from_list[::-1])

(0.98, 110)
('python', True, 'intro', 1.1, 1)

In [14]:
print(coord)
coord[0]*=10
print(coord)

(110, 0.98)

TypeError: 'tuple' object does not support item assignment

In [16]:
course_name = "intro to python"
print(course_name, course_name[-1])
course_name[-1]="m"
print(course_name)

intro to python n

TypeError: 'str' object does not support item assignment

In [22]:
coordinates = 11, 12, 13, 14
print(coordinates, type(coordinates))

(11, 12, 13, 14) <class 'tuple'>

# Set

In [19]:
names = {"eza","idfi","yoanita","septy","tiurma"}
print(names, type(names))
names[0]

{'idfi', 'yoanita', 'eza', 'tiurma', 'septy'} <class 'set'>

TypeError: 'set' object is not subscriptable

In [20]:
duplicated_list =[1,2,3,4,2,3,5,6,2,3]
print("length of list:", len(duplicated_list), duplicated_list)
unique_list = set(duplicated_list)
print("num of unique values:", len(unique_list), "with values:", unique_list)

length of list: 10 [1, 2, 3, 4, 2, 3, 5, 6, 2, 3]
num of unique values: 6 with values: {1, 2, 3, 4, 5, 6}

# Dictionary

In [23]:
dict_height = {"jack": 167, "ryan": 190, "paul": 182}
print(dict_height, type(dict_height))

{'jack': 167, 'ryan': 190, 'paul': 182} <class 'dict'>

In [24]:
print("jack's height:", dict_height["jack"])
print("ryan's height:", dict_height["jack"])

jack's height: 167
ryan's height: 167

In [27]:
dict_transactions = {
    "id": [1, 2, 3],"name":["jack", "ryan"],
    "amount":[100, 88, 94],
    "coord": [(20,199),(19,211)]
}
print(dict_transactions)

{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [100, 88, 94], 'coord': [(20, 199), (19, 211)]}

In [29]:
print(dict_transactions["name"][::-1])
print(dict_transactions["amount"][1:])
dict_transactions["amount"] = [110, 95]
print(dict_transactions)

['ryan', 'jack']
[88, 94]
{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [110, 95], 'coord': [(20, 199), (19, 211)]}

In [28]:
dict_transactions["coord"][0][0]

20

In [31]:
dict_transactions.keys(), dict_transactions.values()

(dict_keys(['id', 'name', 'amount', 'coord']),
 dict_values([[1, 2, 3], ['jack', 'ryan'], [110, 95], [(20, 199), (19, 211)]]))

In [32]:
dict_transactions.items()

dict_items([('id', [1, 2, 3]), ('name', ['jack', 'ryan']), ('amount', [110, 95]), ('coord', [(20, 199), (19, 211)])])

In [33]:
dict_transactions["age"]

KeyError: 'age'

In [34]:
dict_transactions.get("amount")

[110, 95]

In [38]:
dict_transactions.get("age","not found")

'not found'

In [39]:
age = [18,17,19]
print(age)
umur=[20,21,22,25]
print(umur)
age+=umur
print(age)  #menambahkan data, ini dalam list, bisa juga bentuk variabel jd tuple atau set

[18, 17, 19]
[20, 21, 22, 25]
[18, 17, 19, 20, 21, 22, 25]